<div class="header__wrap">
  <div class="topBar">
    <div class="container">
      <div class="topBar__inner d-flex">
        <a href="tel:0559439469" class="topBar__link d-flex">
          <img
            src="./assets/image/icon/phone.svg"
            alt="icon call"
            class="topBar__icon"
          />
          <p class="topBar__desc">Hotline : 0559 . 429 .479</p>
        </a>
        <button class="btn btn--primary topBar__btn">
          <a href="./sign-up.html">Login</a>
        </button>
      </div>
    </div>
  </div>
  <div class="header__main">
    <div class="container">
      <div class="header__inner d-flex">
        <a href="/" class="logo header__logo d-flex">
          <img
            src="./assets/image/icon/LOGO.svg"
            alt="LOGO"
            class="logo__icon"
          />
          <h1 class="logo__title">GOIXEGIARE</h1>
        </a>
        <nav class="navbar">
          <ul class="navbar__list d-flex">
            <li class="navbar__item">
              <a href="/" class="navbar__link">TRANG CHỦ</a>
            </li>
            <li class="navbar__item">
              <a href="https://goixegiare.pro.vn/post/post" class="navbar__link"
                >BÀI VIẾT</a
              >
              <div class="dropdown">
                <div class="dropdown__inner">
                  <div class="top-menu">
                    <div class="top-menu__main">
                      <div class="menu-column">
                        <h2 class="menu-column__heading">Dịch vụ</h2>
                        <ul class="menu-column__list js-menu-list">
                          <li class="menu-column__item">
                            <a
                              href="https://goixegiare.pro.vn/post/grab-dong-nai"
                              class="menu-column__link"
                            >
                              Grab Đồng Nai
                            </a>
                            <div class="sub-menu">
                              <div class="sub-menu-column">
                                <!-- column row 1 -->
                                <div class="menu-column">
                                  <h2 class="menu-column__heading">
                                    <a
                                      href="https://goixegiare.pro.vn/post/grab-bien-hoa"
                                      >Grab Biên Hòa</a
                                    >
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-an-binh"
                                        class="menu-column__link"
                                        >Grab An Bình</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grablongbinh"
                                        class="menu-column__link"
                                        >Grab Long Bình</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grabtamhiep"
                                        class="menu-column__link"
                                        >Grab Tam Hiệp</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-hiep-hoa-cu-lao"
                                        class="menu-column__link"
                                        >Grab Hiệp Hòa</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-hoa-an"
                                        class="menu-column__link"
                                        >Grab Hóa An</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/long-binh-tan"
                                        class="menu-column__link"
                                        >Grab Long Bình Tân</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-nga-tu-vung-tau"
                                        class="menu-column__link"
                                        >Ngã Tư Vũng Tàu</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/tan-hiep"
                                        class="menu-column__link"
                                        >Grab Tân Hiệp</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-tan-phong"
                                        class="menu-column__link"
                                        >Grab Tân Phong</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-trang-dai"
                                        class="menu-column__link"
                                        >Grab Trảng Dài</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-cong-11"
                                        class="menu-column__link"
                                        >Grab Cổng 11</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-phuoc-tan"
                                        class="menu-column__link"
                                        >Grab Phước Tân</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                                <!-- column row 2 -->
                                <div class="menu-column">
                                  <h2 class="menu-column__heading">
                                    <a
                                      href="https://goixegiare.pro.vn/post/grab-long-thanh"
                                      >Grab Long Thành</a
                                    >
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-phuoc-thai"
                                        class="menu-column__link"
                                        >Grab Phước Thái</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-tam-phuoc"
                                        class="menu-column__link"
                                        >Grab Tam Phước</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                                <!-- column row 3 -->
                                <div class="menu-column">
                                  <h2 class="menu-column__heading">
                                    <a
                                      href="https://goixegiare.pro.vn/post/grab-dinh-quan"
                                      >Grab Định Quán</a
                                    >
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-gia-kiem"
                                        class="menu-column__link"
                                        >Grab Gia Kiệm</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="sub-menu-column">
                                <!-- column row 1 -->
                                <div class="menu-column">
                                  <h2 class="menu-column__heading">
                                    <a
                                      href="https://goixegiare.pro.vn/post/grab-trang-bom"
                                      >Grab Trảng Bom</a
                                    >
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-an-vien"
                                        class="menu-column__link"
                                        >Grab An Viễn</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-bac-son"
                                        class="menu-column__link"
                                        >Grab Bắc Sơn</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-binh-minh"
                                        class="menu-column__link"
                                        >Grab Bình Minh</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-cay-gao"
                                        class="menu-column__link"
                                        >Grab Cây Gáo</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-dong-hoa"
                                        class="menu-column__link"
                                        >Grab Đông Hòa</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-giang-dien"
                                        class="menu-column__link"
                                        >Grab Giang Điền</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-nga-ba-tri-an"
                                        class="menu-column__link"
                                        >Grab Ngã Ba Trị An</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-song-thao"
                                        class="menu-column__link"
                                        >Grab Sông Thao</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-song-trau"
                                        class="menu-column__link"
                                        >Grab Sông Trầu</a
                                      >
                                    </li>
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-tra-co"
                                        class="menu-column__link"
                                        >Grab Trà Cổ</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                                <!-- column row 2 -->
                                <div class="menu-column">
                                  <h2 class="menu-column__heading">
                                    <a
                                      href="https://goixegiare.pro.vn/post/grab-cam-my"
                                      >Grab Cẩm Mỹ</a
                                    >
                                  </h2>
                                </div>
                                <!-- column row 3 -->
                                <div class="menu-column">
                                  <h2 class="menu-column__heading">
                                    <a
                                      href="https://goixegiare.pro.vn/post/grab-xuan-loc"
                                      >Grab Xuân Lộc</a
                                    >
                                  </h2>
                                </div>
                              </div>
                              <div class="sub-menu-column">
                                <!-- column row 1 -->
                                <div class="menu-column">
                                  <h2 class="menu-column__heading">
                                    <a
                                      href="https://goixegiare.pro.vn/post/grab-vinh-cuu"
                                      >Grab Vĩnh Cửu</a
                                    >
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-thien-tan"
                                        class="menu-column__link"
                                        >Grab Thiện Tân</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                                <!-- column row 2 -->
                                <div class="menu-column">
                                  <h2 class="menu-column__heading">
                                    <a
                                      href="https://goixegiare.pro.vn/post/grab-nhon-trach"
                                      >Grab Nhơn Trạch</a
                                    >
                                  </h2>
                                  <ul class="menu-column__list">
                                    <li class="menu-column__item">
                                      <a
                                        href="https://goixegiare.pro.vn/post/grab-nga-ba-nhon-trach"
                                        class="menu-column__link"
                                        >Grab Ngã Ba Nhơn Trạch</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                                <!-- column row 3 -->
                                <div class="menu-column">
                                  <h2 class="menu-column__heading">
                                    <a
                                      href="https://goixegiare.pro.vn/post/grab-long-khanh"
                                      >Grab Long Khánh</a
                                    >
                                  </h2>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="navbar__item navbar__item--gt">
              <a href="/" class="navbar__link">GIỚI THIỆU</a>
            </li>
            <li class="navbar__item">
              <a href="tel:0559439469" class="navbar__link">LIÊN HỆ</a>
            </li>
          </ul>
        </nav>
        <button class="menu-mobile">
          <img
            src="./assets/image/icon/menu-bar-1.svg"
            alt="more"
            class="menu-mobile-icon"
          />
        </button>
      </div>
    </div>
  </div>
</div>
